.creating {
    background-color: #edc7b7;
    background-size: cover;
    width: 50%;
    color: black;
    height: 100vh;
    transition: all 300ms ease-in-out;
    border-right: 6px solid black;
    text-align: center;
    max-height: 100vh; 
    
}

.creating-form {
    width: 30%;
    margin: auto;
    opacity: 0;
    padding-top: 100px;
    transition: all 600ms ease-in-out 500ms;    
}

body {overflow: hidden}

.opacity-change {
    opacity: 1;
    transition: all 1000ms ease-in-out;
}

.joining {
    background-color: #edc7b7;
    text-align: center;
    background-size: cover;
    color: black;
    width: 50%;
    height: 100vh;
    transition: all 300ms ease-in-out; 
    border-left: 6px solid black;   
}

.little:hover { 
    border: 6px solid white;
    transition: all 300ms ease-in-out
}

.full {
    width: 100%;
    transition: all 300ms ease-in-out;     
       
}

.hide {
    width: 0%;
    display: none;
    background-color: #EDC7B7;    
    transition: all 300ms ease-in-out;    
}

.fam-for {
    width: 50%;
    border: 3px solid black;
    background-color: #E4C580;
    color: black;
    padding: 30px;
    border-radius: 5%;
    margin: 60px auto;
    left: 0;
    right: 0;
    /* float: center; */
    transition: all 600ms ease-in-out
}

.left {
    margin-right: 400px;
    transition: all 600ms ease-in-out    
}

.right { 
    margin-right: -400px;
    transition: all 600ms ease-in-out    
}

#final-submit {
    margin-top: 30px;
}

.big-img {
    height: 100vh;  
    left: 0;
    right: 0;
    transition: all 300ms ease-in-out;
    background-color: #17e9e0;    
    margin-top: 0vh;
    position: absolute;
    color: black;
    text-align: center;
}

.text-box {
    width: 100%;
    padding-top: 330px;    
    height: 100%;
}

.remove {
    /* display: none; */
    /* height: 0px; */
    color: #17e9e0;
    transition: all 700ms ease-in-out;  
    /* transition: all 500ms ease-in-out 500ms;         */
    /* background-color: #123c69; */
    /* margin-top: -420vh; */
    /* transform: scaleX(.1); */
    /* transform: scaleY(.5); */
    /* transform: rotate(700deg); */
    
}
.bubble-box {
    width: 200px;
    margin: auto;
}

.bubble {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #FACC03;
    transition: all 500ms ease-in-out;
    padding-top: 120px;
    text-align: center;
    color: black;
    left: 0px;
    top: 0px;
    opacity: 1;
}
.bubble:hover {
    width: 340px;
    height: 340px;
    left: -20px;
    top: -20px;
    transition: all 300ms ease-in-out 0ms;
}
.bubble.bubble-1 {
    transform: translate(150px, -500px);    
}
.bubble.bubble-2 {
    transform: translate(860px, 2000px);    
}
.bubble.bubble-show-1 {
    transform: translate(150px, 200px);  
    transition: transform 500ms ease 600ms;    
}
.bubble.bubble-show-2 {
    transform: translate(860px, 400px);  
    transition: all 500ms ease;
    transition: transform 500ms ease 600ms;    
}


.red {
    background-color: red;
    height: 300px;
    margin-top: -120px;
}
.blue {
    background-color: blue;
    margin-top:-120px;
    height: 300px;
}

.bubble.bubble-huge{
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    transition: all 600ms ease-in-out;
    transform: translate(0px, 0px); 
    left: 0px;
    top: 0px;   

}
.bubble.bubble-remove {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 600ms ease-in-out;   
}




